<md-bottom-sheet class="md-grid" layout="row" ng-cloak>
  <md-list flex layout="row" layout-align="center center">
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="listItemClick('Flight booked!')">
        <md-icon md-svg-src="bower_components/material-design-icons/maps/svg/production/ic_flight_24px.svg"></md-icon>
        <div class="md-grid-text">Flights</div>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="listItemClick('Hotel booked!')">
        <md-icon md-svg-src="bower_components/material-design-icons/maps/svg/production/ic_hotel_24px.svg"></md-icon>
        <div class="md-grid-text">Hotel</div>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="listItemClick('Activities booked!')">
        <md-icon md-svg-src="bower_components/material-design-icons/maps/svg/production/ic_local_activity_24px.svg"></md-icon>
        <div class="md-grid-text">Activities</div>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="listItemClick('Dining booked!')">
        <md-icon md-svg-src="bower_components/material-design-icons/maps/svg/production/ic_local_dining_24px.svg"></md-icon>
        <div class="md-grid-text">Dining</div>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
